@using Microsoft.AspNetCore.Identity
@using Socializer.Data.Models
@inject UserManager<ApplicationUser> UserManger
@{
    this.ViewData["Title"] = "Group Name";
}

<div>
    <p id="senderId">@UserManger.GetUserId(this.User)</p>
</div>

<div class="container border p-2 mt-2">
    <div id="chatPanel">
        <!--Heading-->
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div style="float: left" id="toUser">
                        <p>Group name</p>
                        <p id="group-name"></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="demo-chat-body">
                <div class="lds-ring" id="chat-loading"><div></div><div></div><div></div><div></div></div>
                <ul class="list-unstyled" id="messagesList">
                </ul>
            </div>
        </div>

        <!--Widget footer-->
        <div>
            <div class="row mx-auto">
                <div class="col-md-10">
                    <input type="text" class="form-control" id="messageInput" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block" type="submit" id="sendButton">Send</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    <link href="~/messenger/css/chat-loading-styles.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/messenger/js/messanger.js"></script>
}