@using Microsoft.AspNetCore.Identity
@using Socializer.Data.Models
@inject UserManager<ApplicationUser> UserManger
@{
    this.ViewData["Title"] = "Group Name";
}

<div>
    <p id="senderId">@UserManger.GetUserId(this.User)</p>
</div>

<div class="container border p-2 mt-2">
    <div id="chatPanel">
        <!--Heading-->
        <div>
            <div class="row">
                <div class="col-md-6">
                    <h3 style="float: left" id="toUser">Group name</h3>
                </div>
            </div>
        </div>
        <div>
            <div id="demo-chat-body" class="nano-content pad-all" tabindex="0">
                <ul class="list-unstyled media-block" id="messagesList">
                </ul>
            </div>
            <div>
                <div style="height: 141px; transform: translate(0px, 0px);"></div>
            </div>
        </div>

        <!--Widget footer-->
        <div>
            <div class="row mx-auto">
                <div class="col-md-10">
                    <input type="text" class="form-control" id="messageInput" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block" type="submit" id="sendButton">Send</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/messenger/js/messanger.js"></script>
}