@model ProfileViewModel
@{
    this.ViewData["Title"] = Model.UserName;
}

<div class="container">
    <div class="col">
        <h3>@Model.FirstName @Model.LastName</h3>
        <h3>@Model.Description</h3>
        <h3>@Model.Birthdate</h3>
    </div>
    <div class="col">
        @foreach (var post in Model.Posts)
        {
            <partial name="_PostPartial" model="post"/>
        }
    </div>
</div>