@using System.Linq
@model IEnumerable<PostViewModel>
@{
    this.ViewData["Title"] = "Feed";
}

<div class="row mw-100">
    <div class="col mr-5">
        <ul class="nav flex-column text-left mx-2 border-bottom feed-sidenav">
            <li class="nav-item">
                <a class="btn" href="#"><i class="fas fa-users"></i> Groups</a>
            </li>
            <li class="nav-item mb-2">
                <a class="btn" href="#"><i class="fas fa-user-friends"></i> Friends</a>
            </li>
        </ul>
    </div>
    <div class="col-6 mx-lg-5">
        <div class="container">
            @foreach (var post in Model)
            {
                <partial name="_PostPartial" model="post"/>
            }
        </div>
    </div>
    <div class="col ml-5">

    </div>
</div>
