@model IEnumerable<PostViewModel>
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (this.User.Identity.IsAuthenticated)
    {
        <form asp-controller="Posts" asp-action="Create" method="post">
            <div class="form-group">
                <input class="form-control m-2" type="text" name="Content" />
            </div>
            <input class="btn btn-success m-2" type="submit" value="Create" />
            <input type="text" name="returnUrl" value="@this.Context.Request.Path.Value" hidden />
        </form>
    }

    @foreach (var post in Model)
    {
        <partial name="_PostPartial" model="post"/>
    }
</div>