@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="sidenav">
    <div class="login-main-text">
        <h2 class="text-white">Application<br> Login Page</h2>
        <p>Login from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form rounded border p-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group m-2">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <div class="row">
                        <div class="col">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="col text-right">
                            <p>
                                <a id="forgot-password" class="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group m-4">
                    <div class="row offset-1">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="col offset-2">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
