@using System.Linq
@model IEnumerable<PostViewModel>
@{ this.ViewData["Title"] = "Feed"; }

@if (Model.Any())
{
    foreach (var post in Model)
    {
        <partial name="_PostPartial" model="post" />
    }
}
else
{
    <h1 class="text-center mt-2">No posts found!</h1>
}


