@model IEnumerable<Socializer.Web.ViewModels.Groups.GroupShortViewModel>

<h1>Group</h1>

@if (!Model.Any())
{
    <h3>No groups in the database.</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Created On</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
            <tr>
                <th scope="row">@group.Id</th>
                <td>@group.Name</td>
                <td>@group.Description</td>
                <td>@group.CreatedOn</td>
                <td><a href="#" class="btn btn-outline-info">View Group</a></td>
            </tr>
            }
        </tbody>
    </table>
}
