<div class="col mr-5">
    <ul class="nav flex-column text-left mx-2 border-bottom feed-sidenav">
        <li class="nav-item">
            <a class="btn" asp-controller="Groups" asp-action="Discover"><i class="fas fa-users"></i> Groups</a>
        </li>
        <li class="nav-item mb-2">
            <a class="btn" asp-controller="Profile" asp-action="Friends"><i class="fas fa-user-friends"></i> Friends</a>
        </li>
    </ul>
</div>
