@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = "Feed";
}

<div class="container w-50">
    <vc:feed user-id="@this.UserManager.GetUserId(this.User)"></vc:feed>
</div>