@using System.Collections.Specialized
@model IEnumerable<PostViewModel>
@{
    this.ViewData["Title"] = "Feed";
}

<div class="container w-50">
    @if (!Model.Any())
    {
        <h1 class="text-center">You don't have any relations go make some friends! :)</h1>
    }
    else
    {
        @foreach (var post in Model)
        {
            <partial name="_PostPartial" model="post" />
        }
    }
    <div class="loader mx-auto my-3" id="page-loader"></div>
</div>

@section Scripts {
    <script src="~/js/infinite-scroll.js"></script>
} 