@using Socializer.Common
@{
    this.ViewData["Title"] = "Feed";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr class="my-4"/>

<vc:feed></vc:feed>